.block2 {
    width: 400px;
    padding: 5px;
    border: solid 0px green;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block3 {
    padding: 5px;
    border: solid 0px gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: center;
}
.blockError {
    padding: 0px;
    border: solid 0px #999;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: left;
    width: 90%;
}

.blockL {
    float: left;
     width:60%; 
     text-align: right;
}
.blockR {
    float: right; 
    width:39% ; 
    text-align: left;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 2px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 0px 0px 0px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

input[type=text], textarea {
    padding: 3px 0px 3px 3px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.DivButtonClass {
    width: 250px;
    padding: 5px;
    border: solid 1px #999;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

legend {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    color: #999;
}

hr {
    border: none;
    color: #999;
    background-color: #E8E8E8   ;
    width: 90%;
    height: 1px;
}
h1 {
    text-align: center;
}